:root,
:host {
  --pico-spacing: 0.5rem;
  --pico-block-spacing-horizontal: 1rem;
  --pico-block-spacing-vertical: 0.5rem;
  interpolate-size: allow-keywords;
  ;
}

@keyframes move-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Apply the custom animation to the old and new page states */

::view-transition-old(root) {
  animation: 0.4s ease-in both move-out;
}

::view-transition-new(root) {
  animation: 0.4s ease-in both move-in;
}

html {
  font-size: 16px;
}

button {
  .button-body {
    display: flex;
    column-gap: 0.4em;
  }
}

.app-container {
  max-width: 700px;
  margin: 0 auto;
  padding-inline: var(--pico-block-spacing-horizontal);
  width: 100%;
}

.nav-header {
  @media screen and (width < 451px) {
    box-shadow: var(--pico-box-shadow);
    background-color: var(--pico-background-color);
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 2;
  }

  @media screen and (width > 450px) {
    position: relative;
  }

}

.app-main {
  margin-bottom: 8rem;
  padding-top: var(--pico-block-spacing-vertical);
  view-transition-name: root;
}

.main-nav {
  & ul {
    column-gap: 0.25em;
  }

  .link {
    color: var(--pico-secondary);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    column-gap: 0.25em;
    font-size: 0.875rem;
    font-weight: 600;
    white-space: nowrap;

    .icon-wrapper {
      display: flex;
      font-size: 1.5rem;
      margin-block: -0.125em;
    }

    &.active {
      color: white;
      background-color: var(--pico-primary-background);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}

.grocery-category {
  margin-bottom: calc(1.5 * var(--pico-form-element-spacing-horizontal));
  position: relative;
  z-index: 1;

  & h4 {
    display: flex;
    column-gap: calc(var(--pico-block-spacing-horizontal) / 3);
    align-items: baseline;
    padding-inline: var(--pico-block-spacing-horizontal);

    .counter {
      font-size: 0.65em;
      padding-left: 0.2em;

      &.all-done {
        color: var(--pico-ins-color);
      }
    }
  }

  .category-action.chevron {
    padding-right: 1em;

    &:hover {
      color: var(--pico-primary);
    }
  }

  .category-body {
    height: auto;
    transition: height 100ms ease-in-out;
    overflow-y: clip;
    overflow-x: visible;

    &.collapsed {
      height: 0;
      overflow: hidden;
      z-index: 0;
    }

    &.animating {
      z-index: 0;
    }
  }
}

.grocery-item {
  --base-size: 1.25rem;
  align-items: center;
  background: transparent;
  content-visibility: auto;
  contain-intrinsic-size: auto 2.125rem;
  border-color: transparent;
  border-style: dashed;
  border-width: 1px;
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 0.125rem;
  min-height: 2.125rem;

  @media screen and (width < 451px) {
    background: transparent;
    box-shadow: none;
    width: 100%;
  }

  @media screen and (width > 450px) {
    background: transparent;
    box-shadow: none;
  }

  &.focused {
    border-color: var(--pico-secondary);
  }

  .add-item-comment {
    visibility: hidden;
  }

  &:hover,
  &.item-form {
    background: var(--pico-card-background-color);
    box-shadow: var(--pico-card-box-shadow);

    .add-item-comment {
      visibility: visible;
    }


    .delete-button,
    & a {
      visibility: visible;
    }
  }

  &.in-basket {
    @media (prefers-color-scheme: dark) {
      opacity: 0.65;
    }

    @media (prefers-color-scheme: light) {
      opacity: 0.6;
    }
  }

  .delete-button {
    @media screen and (width > 450px) {
      visibility: hidden;
    }

    @media screen and (width < 451px) {
      visibility: visible;
    }
  }

  & a {
    margin-left: auto;
    color: var(--pico-secondary);
    pointer-events: fill;

    @media screen and (width > 450px) {
      visibility: hidden;
    }

    @media screen and (width < 451px) {
      visibility: visible;
    }

    &:hover {
      color: var(--pico-primary);
    }

    & svg {
      width: calc(var(--base-size) * 1.5);
      height: calc(var(--base-size) * 1.5);
    }
  }

  .item-comment-box {
    align-items: center;
    display: flex;
    gap: 1rem;
    flex-grow: 1;

    & textarea {
      font-style: italic;
    }

  }

  .label {
    color: var(--pico-color);
    margin-bottom: 0;
    display: flex;
    font-weight: 500;
    max-width: 100%;

    & input[type=checkbox] {
      font-size: var(--base-size);
    }

    & span {
      line-height: 1em;
      text-wrap: nowrap;
    }
  }

  .grow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    flex-grow: 1;
    word-wrap: break-word;


    &::after {
      content: attr(data-content) " ";
      visibility: hidden;
      display: inline-block;
      margin: 0;
      padding: 0;
      max-width: 100%;
      word-wrap: break-word;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    & textarea {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      overflow: clip;
      word-wrap: break-word;
      scrollbar-width: none;
    }
  }

  & textarea {
    padding: 0;
    margin: 0;
    resize: none;
  }

  .item-quantity {
    align-items: baseline;
    display: flex;
    text-align: center;
    column-gap: 0.25em;
  }

  .item-comment {
    display: flex;
    align-items: start;
    flex-grow: 1;
    font-style: italic;

    & svg {
      flex-shrink: 0;
    }
  }

  &.item-form {
    padding-block: 0;

    >span {
      padding-top: calc(0.125rem + 1.5px);
      padding-bottom: calc(0.125rem + 0.1px);
      padding-inline: 0;
      border: none;
      border-bottom: 2px solid transparent;
      border-radius: 0;

      &:focus-within {
        border-color: var(--pico-form-element-focus-color);
      }
    }
  }
}

.button {
  cursor: pointer;
  margin-top: -0.125em;

  &:hover {
    color: var(--pico-primary);
  }
}


.delete-button {
  color: var(--pico-secondary);

  &:hover {
    @media (prefers-color-scheme: dark) {
      color: var(--pico-del-color);

    }

    @media (prefers-color-scheme: light) {
      color: var(--pico-form-element-invalid-focus-color);
    }
  }
}

.add-item-comment {
  font-size: 1.25em;
  opacity: 0.5;

  &:hover {
    color: var(--pico-color);
    opacity: 1;
  }
}

a {
  font-size: 1.25em;
  margin-top: -0.125em;
}

.add-item-button {
  align-items: center;
  border-radius: var(--pico-border-radius);
  border-style: dashed;
  font-size: 1.5rem;
  border-color: transparent;
  border-width: 1px;
  color: var(--pico-secondary);
  display: flex;
  /* justify-content: center; */
  padding-inline: var(--pico-block-spacing-horizontal);
  padding-block: 0.125rem;
  line-height: 1em;
  width: 100%;
  height: 2.125rem;

  & svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover,
  &:focus {
    border-color: var(--pico-primary-border);
    box-shadow: none;
    color: var(--pico-primary);
    cursor: pointer;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
  }
}

.end-shopping-button {
  display: block;
  margin-inline: auto;

  &.all-done {
    background-color: var(--pico-form-element-valid-focus-color);
    border-color: var(--pico-form-element-valid-active-border-color);
  }

  & .counter {
    padding-right: 0.5em;
    font-weight: bold;
  }
}

.empty-page {
  display: grid;
  place-items: center;
  height: 60vh;
  min-height: min-content;
}

.item-page {
  font-size: 1.2em;

  .quantity {
    font-size: 1.5em;
  }

  .item-page-quantity {
    display: inline-block;
    margin-right: 0.4em;
  }
}

.label {
  .input-resize-containter {
    &::after {
      font-weight: 700;
    }
  }
}


.input-resize-containter {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  &::after {
    content: attr(data-content) " ";
    display: inline-block;
    height: 0;
    height: 100%;
    margin: 0;
    max-width: 100%;
    min-width: 1em;
    min-width: 3em;
    padding: 0;
    visibility: hidden;
    white-space: pre;
  }


  & input[type=text] {
    border: none;
    bottom: 0;
    box-shadow: none;
    font-size: 1em;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: 100%;
    min-width: 3em;
    outline: none;
    padding-inline: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

h4 {
  input[type=text] {
    font-weight: 700;
  }
}

& div[role=checkbox] {
  --pico-color: #fff;
  --pico-border-width: 0.125rem;
  --pico-box-shadow: none;

  --pico-background-color: var(--pico-form-element-background-color);
  --pico-border-color: var(--pico-form-element-border-color);
  --pico-box-shadow: none;

  display: flex;
  place-items: center;
  place-content: center;
  flex-wrap: wrap;
  width: 1.25em;
  height: 1.25em;
  font-size: 1em;
  margin-top: -.125em;
  /* margin-inline-end: .5em; */
  border-width: var(--pico-border-width);
  vertical-align: middle;
  cursor: pointer;
  accent-color: var(--pico-primary);
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  outline: 0;
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
  color: var(--pico-color);
  font-weight: var(--pico-font-weight);
  transition: background-color var(--pico-transition), border-color var(--pico-transition), color var(--pico-transition), box-shadow var(--pico-transition);

  >svg {
    /* display: none; */
    content-visibility: hidden;
  }

  &.checked {
    --pico-background-color: var(--pico-primary-background);
    --pico-border-color: var(--pico-primary-border);

    >svg {
      /* display: block; */
      content-visibility: visible;
    }
  }

  &:focus {
    --pico-background-color: var(--pico-primary-background);
    --pico-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-focus);
  }

  &.check.checked {
    --pico-border-color: var(--pico-form-element-valid-border-color);
    --pico-background-color: var(--pico-form-element-valid-border-color);
    --pico-form-element-focus-color: var(--pico-primary-focus);
  }
}

.button-row {
  display: flex;
  width: fit-content;
}

p {
  margin-bottom: calc(var(--pico-block-spacing-vertical) * 6);
}

h1 {
  margin-bottom: calc(var(--pico-block-spacing-vertical) * 4);

}
