html {
  font-size: 14px;
}

button {
  .button-body {
    display: flex;
    column-gap: 0.4em;
  }
}

.nav-header {
  @media screen and (width < 451px) {
    display: none;
  }

  @media screen and (width > 450px) {
    display: block;
  }
}

.nav-footer {
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
  position: fixed;
  bottom: 0;

  @media screen and (width < 451px) {
    display: block;
  }

  @media screen and (width > 450px) {
    display: none;
  }
}


.app-main {
  padding-top: var(--pico-block-spacing-vertical);

  @media screen and (width < 451px) {
    margin-bottom: 100px;
  }

  @media screen and (width > 450px) {
    margin-bottom: 0;
  }
}

.main-nav {
  & ul {
    column-gap: 0.5em;
  }

  & li {
    &:last-child {
      justify-self: flex-end;
      flex-grow: 0;
      margin-left: auto;

      & span {
        border-bottom: 0;
      }
    }
  }

  .link {
    color: var(--pico-secondary);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    column-gap: 0.25em;
    padding-inline: var(--pico-form-element-spacing-horizontal);
    font-size: 1rem;

    .icon-wrapper {
      display: flex;
      font-size: 1.5rem;
      margin-block: -0.125em;
    }

    &.active {
      color: white;
      background-color: var(--pico-primary-background);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}

.grocery-category {
  margin-bottom: calc(1.5 * var(--pico-form-element-spacing-horizontal));

  & h3 {
    display: flex;
    column-gap: calc(var(--pico-block-spacing-horizontal) / 3);
    align-items: baseline;

    .counter {
      /* font-weight: normal; */
      font-size: 0.65em;
      padding-left: 0.2em;

      &.all-done {
        color: var(--pico-ins-color);
      }
    }
  }

  .chevron {
    flex-grow: 1;

    &:hover {
      color: var(--pico-primary);
    }
  }

  .category-body {
    height: auto;

    &.collapsed {
      height: 0;
      overflow: hidden;
    }
  }
}

.grocery-item {
  --base-size: 1.25rem;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  border-style: dashed;
  border-color: transparent;
  border-width: 1px;

  &.focused {
    border-color: var(--pico-secondary);
  }

  .add-item-comment {
    visibility: hidden;
  }

  &:hover {
    .add-item-comment {
      visibility: visible;
    }

  }

  &.in-basket {
    @media (prefers-color-scheme: dark) {
      opacity: 0.7;
    }

    @media (prefers-color-scheme: light) {
      opacity: 0.7;
    }
  }

  &.item-draft {
    border-style: solid;
    /* border-color: var(--pico-primary-hover); */
  }

  .item-comment-box {
    align-items: center;
    display: flex;
    gap: 1rem;

    &:last-child {
      flex-grow: 1;
    }
  }

  .label {
    color: var(--pico-color);
    margin-bottom: 0;
    display: flex;
    /* font-size: vr(--base-size); */
    font-weight: var(--pico-form-label-font-weight, var(--pico-font-weight));
    max-width: 100%;

    & input[type=checkbox] {
      font-size: var(--base-size);
    }

    & span {
      line-height: 1em;
      text-wrap: nowrap;
    }

    & h4 {
      line-height: 1em;
      display: flex;
      flex-wrap: nowrap;
      margin: 0;
      max-width: calc(100% - 2rem);

      & input[type=text] {
        font: 1.25rem/1.25rem sans-serif;
        font-weight: 700;
      }
    }
  }

  .grow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    flex-grow: 1;
    word-wrap: break-word;


    &::after {
      content: attr(data-content) " ";
      visibility: hidden;
      display: inline-block;
      margin: 0;
      padding: 0;
      max-width: 100%;
      word-wrap: break-word;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    & textarea {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      overflow: clip;
      word-wrap: break-word;
      scrollbar-width: none;
    }
  }

  & textarea {
    padding: 0;
    margin: 0;
    resize: none;
  }

  .item-quantity {
    align-items: baseline;
    display: flex;
    text-align: center;
    column-gap: 0.25em;
  }

  & a {
    margin-left: auto;
    color: var(--pico-secondary);

    &:hover {
      color: var(--pico-primary);
    }

    & svg {
      width: calc(var(--base-size) * 1.5);
      height: calc(var(--base-size) * 1.5);
    }
  }

  .item-comment {
    display: flex;
    align-items: start;
    flex-grow: 1;

    & svg {
      flex-shrink: 0;
    }
  }
}

.button {
  cursor: pointer;
  margin-top: -0.125em;

  &:hover {
    color: var(--pico-primary);
  }
}

.delete-item-button {
  font-size: 1.25em;

  &:hover {
    @media (prefers-color-scheme: dark) {
      color: var(--pico-del-color);

    }

    @media (prefers-color-scheme: light) {
      color: var(--pico-form-element-invalid-focus-color);
    }
  }
}

.add-item-comment {
  font-size: 1.25em;
  opacity: 0.5;

  &:hover {
    color: var(--pico-color);
    opacity: 1;
  }
}

& a {
  font-size: 1.25em;
  margin-top: -0.125em;
}

.add-item-button {
  border-radius: var(--pico-border-radius);
  border-style: dashed;
  font-size: 1.5rem;
  border-color: transparent;
  border-width: 1px;
  color: var(--pico-secondary);
  display: flex;
  /* justify-content: center; */
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
  width: 100%;

  & svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    border-color: var(--pico-primary-border);
    color: var(--pico-primary);
    cursor: pointer;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
  }
}

.end-shopping-button {
  display: block;
  margin-inline: auto;

  &.all-done {
    background-color: var(--pico-form-element-valid-focus-color);
    border-color: var(--pico-form-element-valid-active-border-color);
  }

  & .counter {
    padding-right: 0.5em;
    font-weight: bold;
  }
}

.empty-page {
  display: grid;
  place-items: center;
  height: 60vh;
  min-height: min-content;
}

.item-page {
  font-size: 1.2em;

  .quantity {
    font-size: 1.5em;
  }

  .item-page-quantity {
    display: inline-block;
    margin-right: 0.4em;
  }
}

.label {
  .input-resize-containter {
    &::after {
      font-weight: 700;
    }
  }
}

.input-resize-containter {
  display: inline-block;
  position: relative;
  max-width: 100%;
  overflow: hidden;

  &::after {
    content: attr(data-content) " ";
    visibility: hidden;
    display: inline-block;
    height: 0;
    white-space: pre;
    margin: 0;
    padding: 0;
    min-width: 1em;
    font: 1.25rem/1.25rem sans-serif;
    height: 100%;
    max-width: 100%;
  }


  & input[type=text] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    min-width: 1em;
    /* font: 1.25rem/1.25rem sans-serif; */
    /* font-weight: 700; */
    height: 100%;
    max-width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
  }
}


h1 {
  & input {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}

& div[role=checkbox] {
  --pico-color: #fff;
  --pico-border-width: 0.125rem;
  --pico-box-shadow: none;

  --pico-background-color: var(--pico-form-element-background-color);
  --pico-border-color: var(--pico-form-element-border-color);
  /* --pico-color: var(--pico-form-element-color); */
  --pico-box-shadow: none;

  /* background-image: var(--pico-icon-checkbox); */
  /* background-position: center; */
  /* background-size: .75em auto; */
  /* background-repeat: no-repeat; */

  display: flex;
  place-items: center;
  place-content: center;
  flex-wrap: wrap;
  width: 1.25em;
  height: 1.25em;
  font-size: 1em;
  margin-top: -.125em;
  margin-inline-end: .5em;
  border-width: var(--pico-border-width);
  vertical-align: middle;
  cursor: pointer;
  accent-color: var(--pico-primary);
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  outline: 0;
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
  color: var(--pico-color);
  font-weight: var(--pico-font-weight);
  transition: background-color var(--pico-transition), border-color var(--pico-transition), color var(--pico-transition), box-shadow var(--pico-transition);

  >svg {
    display: none;
  }

  &.checked {
    --pico-background-color: var(--pico-primary-background);
    --pico-border-color: var(--pico-primary-border);

    >svg {
      display: block;
    }
  }

  &:focus {
    --pico-background-color: var(--pico-primary-background);
    --pico-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-focus);
  }

  &.check.checked {
    --pico-border-color: var(--pico-form-element-valid-border-color);
    --pico-background-color: var(--pico-form-element-valid-border-color);
    --pico-form-element-focus-color: var(--pico-primary-focus);
  }
}

.button-row {
  display: flex;
  width: fit-content;
}
