@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

@import "https://unpkg.com/open-props/theme.light.switch.min.css";
@import "https://unpkg.com/open-props/theme.dark.switch.min.css";

/* @import "https://unpkg.com/open-props/buttons.min.css"; */
@import "https://unpkg.com/open-props/sizes.min.css";
@import "https://unpkg.com/open-props/easings.min.css";

/* -- LAYOUT */
:root,
:host {
  interpolate-size: allow-keywords;
  font-family: var(--font-system-ui);
  font-size: 16px;

}

html {
  @media (prefers-color-scheme: dark) {
    --element-gray: var(--gray-4);
    color: var(--text-2);
  }
}

html[data-theme=dark] {
  --element-gray: var(--gray-4);
}

.app-container {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  padding: var(--size-fluid-1) var(--size-fluid-3);
}

.app-main {
  margin-bottom: 10rem;
}

/* -- COMMON */
button {
  background: transparent;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--element-gray);
  padding: var(--size-relative-2) var(--size-relative-4);
  display: inline-flex;
  gap: var(--size-relative-3);

  &.primary {
    border-color: var(--blue-6);
    color: var(--blue-6);
  }

  &.large {
    padding: var(--size-relative-4) var(--size-relative-6);
    font-weight: 500;
  }

  &.green {
    color: var(--gray-0);
    background: var(--green-9);
    /* background: var(--gradient-30); */
    border-color: var(--green-10);
  }
}

*[role=group] {
  >* {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: var(--radius-2);
      border-bottom-left-radius: var(--radius-2);
      border-right: 0;
    }

    &:last-child {
      border-top-right-radius: var(--radius-2);
      border-bottom-right-radius: var(--radius-2);
      border-left: 0;
    }
  }
}

p {
  margin-bottom: var(--size-8);
}

h1,
h2,
h3 {
  margin-bottom: var(--size-relative-3);
}

h4 {
  font-weight: 600;
}

/* -- NAV */

.nav-header {
  background-color: var(--surface-1);

  @media screen and (width < 451px) {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 2;
    box-shadow: var(--shadow-4);
  }

  @media screen and (width > 450px) {
    position: relative;
  }
}

nav {
  --nav-inline-space: var(--size-1);

  >ul {
    display: flex;
    flex-wrap: nowrap;
    padding: var(--size-1) var(--nav-inline-space);
  }

  & li {
    list-style: none;
    display: flex;
  }

  & a {
    display: flex;
    align-items: center;
    gap: var(--size-relative-2);
  }
}

.main-nav {
  display: flex;
  grid-template-rows: 100%;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  margin-inline: calc(0px - var(--nav-inline-space));
  width: 100%;
}


/* -- GROCERY CATEGORY */

.grocery-category {
  margin-block: var(--size-6);
  position: relative;
  z-index: 1;

  & h4 {
    display: flex;
    gap: var(--size-2);
    align-items: center;
    margin-bottom: var(--size-4);
  }

  .category-body {
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    transition: height 200ms var(--ease-elastic-in-out-3);
    margin-inline: calc(0px - var(--size-3));
    overflow-y: clip;
    overflow-x: visible;
    gap: var(--size-1);

    &.collapsed {
      height: 0;
      overflow: hidden;
      z-index: 0;
    }
  }
}


/* -- GROCERY ITEM */

.grocery-item {
  align-items: center;
  border-radius: var(--radius-2);
  column-gap: var(--size-1);
  display: grid;
  grid-template-columns: 2rem minmax(2rem, 100%) 1rem;
  padding: var(--size-2) var(--size-3);
  transition: all 100ms var(--ease-in-out-2);
  width: 100%;

  &:hover {
    background-color: var(--surface-2);
    box-shadow: var(--shadow-3);
  }

  .item-content {
    display: flex;
    flex-flow: row wrap;
    column-gap: var(--size-3);
  }

  .input-resize-container {
    max-width: 100%;
  }

  & span,
  & input[type=text],
  & textarea {
    padding: 0;
    margin: 0;
  }

  & textarea {
    word-wrap: break-word;
    scrollbar-width: none;
    resize: none;
  }

  @supports (field-sizing: content) {

    & input[type=text],
    & textarea {
      field-sizing: content;
      max-width: 100%;
    }
  }

  & [role=checkbox] {
    aspect-ratio: var(--ratio-square);
    border-radius: var(--radius-2);
    border: var(--border-size-2) solid var(--gray-5);
    color: var(--gray-7);
    place-content: center;
    place-items: center;
    width: var(--size-4);

    & svg {
      visibility: hidden;
    }

    /* &:hover, */
    /* &:focus { */
    /* & svg { */
    /* visibility: visible; */
    /* } */
    /* } */

    &.checked {
      background: var(--blue-6);
      border-color: var(--blue-6);
      color: var(--gray-0);

      & svg {
        visibility: visible;
      }
    }

    &.checked.check {
      background: var(--green-8);
      border-color: var(--green-8);

    }
  }
}



.add-item-button {
  background: transparent;
  border: var(--border-size-1) dashed transparent;
  justify-content: flex-start;
  font-size: var(--font-size-3);
  padding: var(--size-2) var(--size-3);
  transition: all 0.2s var(--ease-in-out-2);

  &:hover {
    color: var(--blue-6);
    border-color: var(--blue-6);
  }

}

/* -- COMPONENTS */
.chevron {
  transition: transform .1s var(--ease-in-out-3);

  &.open {
    transform: rotate(0.25turn);
  }
}

.dropdown {
  background: var(--surface-1);
  position: relative;
  padding: 0;

  .summary {
    padding: 1;
    background: var(--surface-1);
    transition: all 0.1s var(--ease-in-out-1);
  }


  & ul {
    font-size: var(--font-size-1);
    background-color: var(--surface-2);
    position: absolute;
    padding: 0;
    z-index: var(--layer-3);
    box-shadow: var(--shadow-3);
    border-radius: var(--radius-2);
    transform: scale(0, 0) translate(-100%, -100%);

    transition:
      transform 0.05s var(--ease-in-3),
      opacity 0.05s var(--ease-in-3);

    @starting-style {
      opacity: 0;
      transform: scale(0);
    }

    & li {
      padding: var(--size-2) var(--size-4);
      min-width: max-content;

      &:hover {
        background-color: var(--surface-3);
      }
    }
  }

  &.open {
    .summary {
      color: var(--blue-6);
    }

    & ul {
      display: block;
      transform: scale(1, 1) translate(0, 0);
    }
  }
}


.push-out {}
